
*{
    font-family: 'Roboto', Courier, monospace;
}
body{
    margin: 0;
}

.maintext{
    text-align: center;
}
.container{
    display:grid;
    grid-template-columns:  clamp(250px,15%,300px) repeat(2,1fr);
    grid-template-rows: 180px repeat(2,1fr);
    width: 100vw;
    height: 100vh;

}

.sidebar{
    background-color: #0284c7;
    border: 1px hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    grid-row: 1 / 4;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px repeat(10, 50px);
    position: relative;
    
}
.sidebarlogo{
    font-size: 35px;
    font-weight: 800;
    grid-area: 1 / 1 / 2 / 1;
    color:white;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin-left: 5px;
}

.sublogo{
    width:28px;
}
.sublogotext{
    margin-left: 10px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    font-size: 20px;
    font-weight: 600;
}

.mainlogo{
    width: 40px;
}

.header{
    border: 1px hidden;

    position: relative;
    background-color: white;
    grid-column: 2 / 4;
    display: flex;
    flex-direction: column;
    gap: 15px;

}


.headertop{
    display: flex;
    align-items: center;
    gap: 3px;
    overflow: hidden;
    justify-content: space-between;
    padding: 10px;
}
.headername{
    font-size: 18px;
    font-weight: 600;
}
.headfirsthalf{
    display: flex;
    gap:5px;
    margin-left: 10px;
}
.profilepic{
    width: 90px;
    height: auto;
    object-fit: cover;
    clip-path: circle();
}

.menupic{
    width: 120px;
    height: auto;
    object-fit: cover;
    clip-path: circle();
}
.headsecondhalf{
    align-items: center;
    display: flex;
    gap: 5px;
    margin-right: 10px;
}
#search{
    min-width: 400px;
    padding: 6px;
    border-radius: 15px;
    background-color: #f1f5f9;
    border-style: solid;
    font-family: inherit;
}


.headerbottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
}
.mainarea{
    border: 1px hidden;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #f0f9ff;
    grid-column: 2 / 4;
    grid-row: 2 /4;
    display: flex;
    gap:15px;
}
.lefthalf{
    display: flex;
    gap: 5px;
    align-items: center;
}
.welcomecontainer{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.smtext{
    font-weight: 600;
    font-size: 14px;
}
.usrname{
    font-weight: 600;
    font-size: 20px;
}
.btncontainer{
    display:flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.menubtn{
    background-color:#0284c7 ;
    border-radius: 20px;
    color: white;
    font-weight: 800;
    width: 75px;
    height: 30px;
    border-style: none;
}

.menubtn:hover{
    background-color: #0ea5e9;
}
.menubtn:active{
    background-color: #0369a1;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { 
    font-size: 22px;
    transition: 0.2s;
    color: #e7e5e4;
    text-decoration: none; 
}
a:active { text-decoration: none; }



.projectarea{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 10px;

}

.mainside{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 10px;
}

.matext{
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 10px;
}

.cardcontainer{
    display: grid;
    width: 100%;
    height: 96%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px;
    padding: 14px;
}
.card{
    background-color: white;
    border-radius: 25px;
    box-shadow: rgba(46, 124, 240, 0.4) -5px 5px, rgba(46, 130, 240, 0.3) -10px 10px, rgba(0, 0, 0, 0.35) 0px 5px 15px;;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 6px;
}

.annarea, .trendarea{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    gap: 10px;
}

.anninfo{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    height: 90%;
}

.anncards{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 7px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.anncardtitle{
    font-size: 14px;
    font-weight: 800;
}
.anncardinfo{
    font-size: 12px;
}
.trendcardcontainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 25px;
}

.trendcards{
    flex:1;
    background-color: white;
    margin: 10px;
    
}

.projecttitle{
    font-weight: 700;
    font-size: 18px;
}
.projectinfo{
    font-size: 14px;
}