
*{
    font-family: 'Roboto', Courier, monospace;
}
body{
    margin: 0;
}

.container{
    display:grid;
    grid-template-columns:  clamp(250px,15%,300px) repeat(2,1fr);
    grid-template-rows: 180px repeat(2,1fr);
    width: 100vw;
    height: 100vh;

}

.sidebar{
    background-color: #0284c7;
    border: 1px hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
    grid-row: 1 / 4;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px repeat(10, 50px);
    justify-items: center;
    align-items: center;
}
.sidebarlogo{
    font-size: 35px;
    grid-area: 1 / 1 / 2 / 1;
    color:white;
    margin-top: -30px;
}

.mainlogo{
    width: 40px;
}

.header{
    border: 1px hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    grid-column: 2 / 4;
}

.mainarea{
    border: 1px hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #f0f9ff;
    grid-column: 2 / 4;
    grid-row: 2 /4;
}